body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#rooster {
    display: grid;
    background-color: #000;
    gap: 1px;
    border: 1px solid #000;
    width: fit-content;
    margin-top: 20px;
}

.cel {
    width: 30px;
    height: 30px;
    background-color: #fff;
}