body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#rooster {
    display: grid;
    background-color: #000;
    gap: 1px;
    width: fit-content;
    margin-top: 20px;
    position: relative;
}

.kruispunt {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.kruispunt:not(.groen):not(.rood):hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.kruispunt.groen {
    background-color: #2ecc71;
}

.kruispunt.rood {
    background-color: #e74c3c;
}

.cel {
    width: 30px;
    height: 30px;
    background-color: #fff;
}