body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#rooster {
    display: grid;
    background-color: #000;
    gap: 1px;
    width: fit-content;
    margin-top: 20px;
    position: relative;
}

.kruispunt {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.kruispunt:not(.groen):not(.rood):not(.blauw):hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.kruispunt.groen {
    background-color: #2ecc71;
}

.kruispunt.rood {
    background-color: #e74c3c;
}

.kruispunt.blauw {
    background-color: #4b57ff;
}

.cel {
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.route-lijn {
    position: absolute;
    background-color: yellow;
    pointer-events: none;
}

button {
  padding:8px 12px; font-size:14px; margin:6px 6px 0 0;
  cursor:pointer; border-radius:10px; border:1px solid #ddd; background:white;
}
button:disabled { opacity:0.5; cursor:not-allowed; }

#noodBtn {
  background:red; color:white; font-size:18px; padding:12px 22px;
  border:none; border-radius:10px;
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

body {
  margin: 0;
  padding-top: 60px;
}

#topBar a {
  text-decoration: none;
  padding: 6px 10px;
  background: white;
  border: 1px solid #ccc;
  color: black;
}

#topBar a.active {
  background: #ccc;
  font-weight: bold;
}

#topBar button {
  margin-left: auto;
  padding: 6px 12px;
  background: red;
  color: white;
  border: none;
}